*.pyc
.vimrc.[0-9]*
*.old
.*.sw?
.xmonad/history
.xmonad/xmonad-x86_64-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o

[#]*[#]
*~
.DS_Store
zsh_plugins~a76f75172554ddda14b19df5526ff076c2e0f31a
