*.*fasl*
*.elc
*.old
*.pyc
*.sw[a-z]
*jar
*~
.#*
.DS_Store
.lein-deps-sum
.lein-failures
.lein-plugins/
.lein-repl-history
.nrepl-port
/checkouts/
/classes/
/lib/
/target/
[#]*
core
pom.xml
pom.xml.asc
